html{
    box-sizing: border-box;
    overflow-x: hidden;
}
img{
    border-radius: 0.1em;
}
header{
    background-color: #003f7f;
    height: 20%;
    color: white;
    font-size: 30px;
    width: 100%;

}
header a{
    color: white;
    text-decoration: none;
}
header h2{
    font-size: 22px;
}
header h2:first-child{
    font-size: 40px;
    color: #ffc741;

}
header img{
    max-width: 50%;
}
header li{
    padding: 0 10px;
    font-size: 20px;
    border: 0.1em #ffc741 solid;
    border-radius: 1em;
}
header li:hover{
    transition: 0.3s;
    background-color: #ffc741;
    color: rgb(100, 100, 100);
    border-radius: 1em;
}

main{
    background-color: white;
}
main h2{
    color: #ffc741;
    font-size: 28px;
}
main a{
    color: black;
    text-decoration: none;
}
main a:hover{
    color: rgba(255, 199, 65, 0.73);
    text-decoration: underline;
}

.carousel{
    position: relative;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
}
.carousel-button{
    position: absolute;
    
    z-index: 2;
    background: none;
    border: none;
    font-size: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    border-radius: .25rem;
    padding: 0 .5rem ;
    background-color: rgb(0, 0, 0, .1);
}
.carousel-button:hover,.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-button:focus{
    outline: 1px solid black; 
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}



.news div{
    max-width: 100%;
    margin: 0 auto;
}
.news a{
    max-height: 200px;
}
.news img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 10%;
}
.news p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.news2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.news2 div {
    
    max-width: 24%;
    max-height: 50vh;
}
.news2 img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: 0 15%;
}


footer{
    background-color: #003f7f;
    color: white;
    position: relative;
}
footer h2{
    color: #ffc741;
}
footer img{
    max-width: 50%;
}
footer a{
    color: lightgrey;
    text-decoration: none;
}
footer a:hover{
    color: rgba(255, 199, 65, 0.73);
    text-decoration: underline;
}
:hover{
    transition: 0.3s;
}


